[submodule "flickr"]
	path = flickr
	url = git@github.com:appgen/cache-flickr.git
[submodule "socrata"]
	path = socrata
	url = git@github.com:appgen/cache-socrata.git
[submodule "collabfinder"]
	path = collabfinder
	url = git@github.com:appgen/cache-collabfinder.git
[submodule "attribution"]
	path = attribution
	url = git@github.com:appgen/cache-attribution.git
[submodule "manual-questions"]
	path = manual-questions
	url = git@github.com:appgen/manual-questions.git
